head {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --gt-lightest-gray: #eee;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --gt-black: #262626;
    --gt-white: #ffffff;
    --gt-buzz-gold: #eeb211;
    --gt-gold: #b3a369;
    --gt-tech-gold: #b3a369;
    --gt-gold-grad-1: #bfb37c;
    --gt-tech-light-gold: #bfb37c;
    --gt-mdlt-gold: #ac9a58;
    --gt-md-gold: #a4925a;
    --gt-tech-medium-gold: #a4925a;
    --gt-drk-gold: #857437;
    --gt-tech-dark-gold: #857437;
    --gt-navy: #003057;
    --gt-blue: #004f9f;
    --gt-link-blue: #004f9f;
    --gt-blue-visited: #1879db;
    --gt-blue-hover: #1879db;
    --gt-link-hover-blue: #1879db;
    --gt-text-black: #262626;
    --gt-warm-gray: #d6dbd4;
    --gt-warm-grey: #d6dbd4;
    --gt-warm-gray-medium: #e5e7e4;
    --gt-warm-grey-medium: #e5e7e4;
    --gt-superlight-gray: #f2f2f2;
    --gt-superlight-grey: #f2f2f2;
    --gt-light-gray: #ccc;
    --gt-light-grey: #ccc;
    --gt-warm-gray-light: #f2f3f1;
    --gt-warm-grey-light: #f2f3f1;
    --gt-md-grey: #545454;
    --gt-medium-gray-light: #545454;
    --gt-medium-grey-light: #545454;
    --gt-mddk-grey: #8a8a8a;
    --gt-dark-gray: #3b3b3b;
    --gt-dark-grey: #3b3b3b;
    --gt-drk-grey: #3b3b3b;
    --gt-pimile-light: #f2f3f1;
    --gt-horizon: #f95e10;
    --gt-gold-grad: linear-gradient(to right,#bfb37c 0%,#b3a369 100%);
    --gt-gold-grad-rev: linear-gradient(to right,#b3a369 0%,#bfb37c 100%);
    --gt-gold-drk-half: linear-gradient(to right,#ac9a58 0%,#ac9a58 50%,white 50%,white 100%);
    --gt-gold-grad-shine: linear-gradient(60deg,#b3a369 0%,#bfb37c 40%,#bfb37c 60%,#b3a369 100%);
    --gt-primary-gold: #b3a369;
    --gt-secondary: #d6dbd4;
    --gt-success: #349e08;
    --gt-danger: #f95e10;
    --gt-warning: #ff0101;
    --gt-info: #003057;
    --gt-light: #f2f3f1;
    --gt-dark: #3b3b3b;
    --font-roboto: "Roboto","Helvetica Neue","Helvetica","Arial",sans-serif;
    --font-roboto-condensed: 'Roboto Condensed',sans-serif;
    text-align: left;
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gt-black);
    -webkit-font-smoothing: antialiased;
    --tw-border-spacing-x:  0;
    --tw-border-spacing-y:  0;
    --tw-translate-x:  0;
    --tw-translate-y:  0;
    --tw-rotate:  0;
    --tw-skew-x:  0;
    --tw-skew-y:  0;
    --tw-scale-x:  1;
    --tw-scale-y:  1;
    --tw-pan-x:  ;
    --tw-pan-y:  ;
    --tw-pinch-zoom:  ;
    --tw-scroll-snap-strictness:  proximity;
    --tw-ordinal:  ;
    --tw-slashed-zero:  ;
    --tw-numeric-figure:  ;
    --tw-numeric-spacing:  ;
    --tw-numeric-fraction:  ;
    --tw-ring-inset:  ;
    --tw-ring-offset-width:  0px;
    --tw-ring-offset-color:  #fff;
    --tw-ring-color:  rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow:  0 0 #0000;
    --tw-ring-shadow:  0 0 #0000;
    --tw-shadow:  0 0 #0000;
    --tw-shadow-colored:  0 0 #0000;
    --tw-blur:  ;
    --tw-brightness:  ;
    --tw-contrast:  ;
    --tw-grayscale:  ;
    --tw-hue-rotate:  ;
    --tw-invert:  ;
    --tw-saturate:  ;
    --tw-sepia:  ;
    --tw-drop-shadow:  ;
    --tw-backdrop-blur:  ;
    --tw-backdrop-brightness:  ;
    --tw-backdrop-contrast:  ;
    --tw-backdrop-grayscale:  ;
    --tw-backdrop-hue-rotate:  ;
    --tw-backdrop-invert:  ;
    --tw-backdrop-opacity:  ;
    --tw-backdrop-saturate:  ;
    --tw-backdrop-sepia:  ;
    box-sizing: border-box;
    position: relative!important;
    background: linear-gradient(to right,var(--gt-md-gold) 0%,var(--gt-md-gold) 50%,var(--gt-gold) 50%,var(--gt-gold) 100%);
    z-index: 100;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --gt-lightest-gray: #eee;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --gt-black: #262626;
    --gt-white: #ffffff;
    --gt-buzz-gold: #eeb211;
    --gt-gold: #b3a369;
    --gt-tech-gold: #b3a369;
    --gt-gold-grad-1: #bfb37c;
    --gt-tech-light-gold: #bfb37c;
    --gt-mdlt-gold: #ac9a58;
    --gt-md-gold: #a4925a;
    --gt-tech-medium-gold: #a4925a;
    --gt-drk-gold: #857437;
    --gt-tech-dark-gold: #857437;
    --gt-navy: #003057;
    --gt-blue: #004f9f;
    --gt-link-blue: #004f9f;
    --gt-blue-visited: #1879db;
    --gt-blue-hover: #1879db;
    --gt-link-hover-blue: #1879db;
    --gt-text-black: #262626;
    --gt-warm-gray: #d6dbd4;
    --gt-warm-grey: #d6dbd4;
    --gt-warm-gray-medium: #e5e7e4;
    --gt-warm-grey-medium: #e5e7e4;
    --gt-superlight-gray: #f2f2f2;
    --gt-superlight-grey: #f2f2f2;
    --gt-light-gray: #ccc;
    --gt-light-grey: #ccc;
    --gt-warm-gray-light: #f2f3f1;
    --gt-warm-grey-light: #f2f3f1;
    --gt-md-grey: #545454;
    --gt-medium-gray-light: #545454;
    --gt-medium-grey-light: #545454;
    --gt-mddk-grey: #8a8a8a;
    --gt-dark-gray: #3b3b3b;
    --gt-dark-grey: #3b3b3b;
    --gt-drk-grey: #3b3b3b;
    --gt-pimile-light: #f2f3f1;
    --gt-horizon: #f95e10;
    --gt-gold-grad: linear-gradient(to right, #bfb37c 0%, #b3a369 100%);
    --gt-gold-grad-rev: linear-gradient(to right, #b3a369 0%, #bfb37c 100%);
    --gt-gold-drk-half: linear-gradient(to right, #ac9a58 0%, #ac9a58 50%, white 50%, white 100%);
    --gt-gold-grad-shine: linear-gradient(60deg, #b3a369 0%, #bfb37c 40%, #bfb37c 60%, #b3a369 100%);
    --gt-primary-gold: #b3a369;
    --gt-secondary: #d6dbd4;
    --gt-success: #349e08;
    --gt-danger: #f95e10;
    --gt-warning: #ff0101;
    --gt-info: #003057;
    --gt-light: #f2f3f1;
    --gt-dark: #3b3b3b;
    --font-roboto: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --font-roboto-condensed: 'Roboto Condensed', sans-serif;
    text-align: left;
    font-family: var(--font-roboto);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--gt-black);
    -webkit-font-smoothing: antialiased;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    box-sizing: border-box;
    flex: 1;
    background-color: var(--gt-white);
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color:inherit;
}

a:hover {
    color:inherit;
    text-decoration: underline;
}